/* Navbar */
#top_nav {
  background-color: #daac00;
  padding: 0 8%;
}

#nav_img {
  object-fit: contain;
  mix-blend-mode: multiply;
  width: 160px;
  height: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 20px;
  padding-left: 25px;
}

#searchbox {
  background-color: #fcc302;
  color: white;
  border: 0px;
  border-radius: 0px;
  position: relative;
  left: 47px;
  box-shadow: 5px 9px 11px 0px #2823234a;
}

#searchbox::placeholder {
  color: white;
}

#searchbtn {
  position: relative;
  z-index: 99;
  background-color: #00bec9;
  border: 0px;
  color: white;
  border-radius: 0px;
}

/* To make navbar responsive in iPad (width-768) */
@media only screen and (max-width: 768px) {
  #searchform {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    left: -44px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    left: -23px;
  }
}

/* To make navbar responsive in iPhone X (width-375) */
@media only screen and (max-width: 500px) {
  #top_nav {
    padding-left: 0px;
  }
}

/* Banner */
#banner {
  padding-top: 20px;
  background-color: #fcc302;
  padding-bottom: 20px;
}

#bannertext h1 {
  color: white;
  font-size: 70px;
  margin-top: 70px;
}

#bannertext p {
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#banner-btn-1 {
  background-color: #00bec9;
  border: 2px solid #00bec9;
  color: white;
}

#banner-btn-2 {
  margin-left: 15px;
  color: white;
  border: 2px solid white;
}

#bannerimg img {
  padding-top: 100px;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 1350px) {
  #bannertext h1 {
    font-size: 50px;
  }

  #banner {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  #bannertext h1 {
    font-size: 30px;
  }

  #banner {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 500px) {
  #bannertext h1 {
    margin-top: 40px;
  }
}
